/*===========================================================================*\
  DEFAULTS
\*===========================================================================*/

$content-gutter: 20px !default;
$content-padding-top: 30px !default;
$content-padding-bottom: 10px !default;

/**
 * Extra spacing to add to large headings in a Content-section.
 */

$content-heading-space: 10px !default;

