/*---------------------------------------------------------------------------*\
  HEADER
\*---------------------------------------------------------------------------*/
/**
 * Header layout.
 */

@import "../../../bower_components/cacao/cacao";
@import "settings";





/*---------------------------------------------------------------------------*\
  COMPONENT
\*---------------------------------------------------------------------------*/

.cacao-Header {
    position: relative;
    padding-top: $cacao-header-padding-top;
}

.cacao-Header-logo {
    margin-left: $cacao-header-gutter;
    margin-right: $cacao-header-gutter;
    margin-bottom: $cacao-header-logo-margin;
}



.cacao-Header-toggle {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    right: $cacao-header-gutter;
    z-index: 10;
}

.cacao-Header-toggle {
    display: none;
    margin-top: $cacao-header-padding-top/2;
}



