/*---------------------------------------------------------------------------*\
  HEADER STATE
\*---------------------------------------------------------------------------*/
/**
 *
 */

@import "../../../bower_components/cacao/cacao";
@import "settings";





/*---------------------------------------------------------------------------*\
  STATE
\*---------------------------------------------------------------------------*/

@media (max-width: $cacao-header-state-nav-bp) {

    .cacao-Header-nav {
        @include transform(none);
        display: none;
        position: static;
    }

    .cacao-Header-top {
        position: relative;
    }

    .cacao-Header-toggle {
        display: block;
    }

}



