/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Colorscheme
 */
$t-dark-brown: #604830;
$t-light-brown: #c0a878;
$t-off-white: #f0f0cf;

$t-dark-plum: #483030;
$t-deep-red: #481818;



/**
 * Theme settings
 */
$t-header-border-width: 1px;



