/*===========================================================================*\
  HEADER
\*===========================================================================*/

/**
 * Header layout.
 */

@import "defaults";





/*===========================================================================*\
  COMPONENT
\*===========================================================================*/

.Header {
    padding-top: $header-padding-top;
    position: relative;
}

.Header-logo {
    margin-bottom: $header-logo-margin;
    margin-left: $header-gutter;
    margin-right: $header-gutter;
}

.Header-toggle {
    position: absolute;
    right: $header-gutter;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.Header-toggle {
    display: none;
    margin-top: $header-padding-top/2;
}

