/*---------------------------------------------------------------------------*\
  HEADER STATE
\*---------------------------------------------------------------------------*/
/**
 *
 */

@import "../../../bower_components/cacao/cacao";
@import "settings";





/*---------------------------------------------------------------------------*\
  STATE
\*---------------------------------------------------------------------------*/

@media (max-width: $header-state-nav-bp) {

    .header_nav,
    .header_nav.-inline {
        @include transform(none);
        display: none;
        position: static;
    }

    .header_top {
        position: relative;
    }

    .header_toggle {
        display: block;
    }

}



