/*===========================================================================*\
  HEADER STATE
\*===========================================================================*/

@import "default";





/*===========================================================================*\
  STATE
\*===========================================================================*/

@media (max-width: $header-state-nav-bp) {

    .Header-nav {
        display: none;
        position: static;
        transform: none;
    }

    .Header-top {
        position: relative;
    }

    .Header-toggle {
        display: block;
    }

}

