/*---------------------------------------------------------------------------*\
  Top Bar
\*---------------------------------------------------------------------------*/
/**
 * Top Header Bar layout.
 */

@import "settings";





/*---------------------------------------------------------------------------*\
  COMPONENT
\*---------------------------------------------------------------------------*/

.TopBar1 {
    position: relative;
    padding: $topbar1-padding;
}

.TopBar1-content {
    margin-left: $topbar1-gutter;
    margin-right: $topbar1-gutter;
}

