/*---------------------------------------------------------------------------*\
  SETTING OVERRIDES
\*---------------------------------------------------------------------------*/
/**
 * Global variables, site settings, and module settings go here.
 */





/*---------------------------------------------------------------------------*\
  CACAO GLOBAL OVERRIDES
\*---------------------------------------------------------------------------*/

/**
 * Typography
 */
$g-font-stack: sans-serif;
$g-font-size: 15px;
$g-font-weight: 400;
$g-line-height: 22px;
$g-letter-spacing: .15px;
$g-rhythm: $g-line-height/2;

$g-heading-font-stack: serif;
$g-heading-font-weight: 900;
$g-heading-letter-spacing: -.5px;

$g-giga: 74px;
$g-mega: 62px;
$g-kilo: 48px;
$g-alpha: 36px; // h1
$g-beta: 28px; // h2
$g-gamma: 24px; // h3
$g-delta: 20px; // h4
$g-epsilon: 18px; // h5
$g-zeta: 15px; // h6
$g-milli: 13px;
$g-micro: 11px;



/**
 * Breakpoints
 */
$g-bp-xl: 1075px;
$g-bp-lg: 960px;
$g-bp-md: 780px;
$g-bp-sm: 600px;
$g-bp-xs: 400px;





/*---------------------------------------------------------------------------*\
  SITE SETTINGS
\*---------------------------------------------------------------------------*/
/**
 * Used only in this file to keep things consistent.
 */

/**
 * Page variables
 */
$site-width: 1024px;
$site-gutter: $g-rhythm*2;





/*---------------------------------------------------------------------------*\
  COMPONENT & MODULE SETTINGS
\*---------------------------------------------------------------------------*/

/**
 * Cacao Header
 */

$cacao-header-padding-top: $g-rhythm;
$cacao-header-logo-margin: $g-rhythm + $g-rhythm/2;
$cacao-header-gutter: $site-gutter;

