/*===========================================================================*\
  SETTING OVERRIDES
\*===========================================================================*/

/**
 * Global variables, site settings, and module settings go here.
 */





/*===========================================================================*\
  CACAO GLOBAL OVERRIDES
\*===========================================================================*/



/* Breakpoints
  -------------------------------------------------------------------------- */

$g-bp-xl: 1075px;
$g-bp-lg: 960px;
$g-bp-md: 780px;
$g-bp-sm: 600px;
$g-bp-xs: 400px;



/* Typography
  -------------------------------------------------------------------------- */

/**
 * Base.
 */

$g-font-stack: "Open Sans", sans-serif;
$g-font-weight: 400;
$g-letter-spacing: .15px;

/**
 * Used for vertical rhythm.
 */

$g-line-height: 22px;
$g-rhythm: $g-line-height/2;

/**
 * Headings
 */

$g-heading-font-stack: "Merriweather", serif;
$g-heading-font-weight: 900;
$g-heading-letter-spacing: -.5px;

/**
 * Font size scale.
 */

$g-textSize-base: 15px;
$g-textSize9: 48px;
$g-textSize8: 36px; // h1
$g-textSize7: 28px; // h2
$g-textSize6: 24px; // h3
$g-textSize5: 20px; // h4
$g-textSize4: 18px; // h5
$g-textSize3: 15px; // h6
$g-textSize2: 13px;
$g-textSize1: 11px;





/*===========================================================================*\
  SITE SETTINGS
\*===========================================================================*/

/**
 * Used throughout this file to keep things consistent.
 */

$site-width: 960px;
$site-gutter: $g-rhythm*2;





/*===========================================================================*\
  COMPONENT & MODULE SETTINGS
\*===========================================================================*/

/**
 * Container
 */

$container-width: $site-width;
$container-gutter: $site-gutter;

/**
 * Content
 */

$content-gutter: $site-gutter;
$content-padding-top: 0;
$content-padding-bottom: $g-rhythm;
$content-heading-space: $g-rhythm;

/**
 * Grid
 */

$suitGrid-gutter-size: $site-gutter;

/**
 * Header
 */

$header-padding-top: $g-rhythm;
$header-logo-margin: $g-rhythm + $g-rhythm/2;
$header-gutter: $site-gutter;

/**
 * Main navigation
 */

$mainnav-root-display: inline-block;

/**
 * Drilldown menu
 */

$ddmenu-classname: "mainnav";

/**
 * Hero
 */

$hero-content-gutter: 64px;
$hero-title-size: $g-mega;
$hero-title-margin: 0;
$hero-subtitle-size: $g-beta;
$hero-subtitle-margin: 0;
$hero-button-size: $g-gamma;
$hero-button-padding: .2em .65em;

/**
 * Slider
 */

$slider-nav-gutter: 12px;

$slider-pager-item-width: $g-rhythm;
$slider-pager-item-height: $g-rhythm;
$slider-pager-item-margin: 0 4px;

