/*===========================================================================*\
  UTILITIES
\*===========================================================================*/

/**
 * CONTENTS
 * - Floats
 * - Gutters
 * - Margins & Padding
 * - Responsive Helpers
 */

@import "../../../bower_components/cacao/cacao";



/* Floats
  -------------------------------------------------------------------------- */

.u-posLeft {
    float: left !important;
}

.u-posRight {
    float: right !important;
}

/**
 * Clearfix.
 * Applied to elements to allow their heights to 'clear' or contain floats.
 */

.u-cf {
    @include cacao-clearfix;
}



/* Gutters
  -------------------------------------------------------------------------- */

.u-gutters0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.u-gutters1 {
    padding-left: $g-rhythm*1 !important;
    padding-right: $g-rhythm*1 !important;
}

.u-gutters2 {
    padding-left: $g-rhythm*2 !important;
    padding-right: $g-rhythm*2 !important;
}



/* Margins & padding
  -------------------------------------------------------------------------- */

.u-margNone {
    margin: 0 !important;
}

.u-padNone {
    padding: 0 !important;
}





/* Responsive Helpers
  -------------------------------------------------------------------------- */

/**
 * Make an image shrink to the width of it's containing element if the element
 * is smaller than the image's original width.
 */

.u-img {
    max-width: 100%;
    height: auto;
}

/**
 * Make an image scale to the width of it's containing element regardless of
 * the image's original width.
 */

.u-img--full {
    display: block;
    width: 100%;
}

