/*===========================================================================*\
  UTILITIES
\*===========================================================================*/

@import "../../../bower_components/cacao/cacao";



/**
 * Floats
 */

.u-posLeft {
    float: left !important;
}

.u-posRight {
    float: right !important;
}

/**
 * Margins & padding
 */

.u-marginNone {
    margin: 0 !important;
}

.u-paddingNone {
    padding: 0 !important;
}

/**
 * Applied to elements to allow their heights to 'clear' or contain floats.
 */

.u-cf {
    @include cacao-clearfix;
}

/**
 * Used to modify an elements bottom margin.
 * The various size modifiers follow the site's vertical rhythm.
 */

.u-margin1 {
    margin-bottom: $g-rhythm !important;
}

.u-margin2 {
    margin-bottom: $g-rhythm*2 !important;
}

.u-margin3 {
    margin-bottom: $g-rhythm*3 !important;
}

.u-margin4 {
    margin-bottom: $g-rhythm*4 !important;
}

.u-margin5 {
    margin-bottom: $g-rhythm*5 !important;
}

/**
 * Used to add spacing to the inside of an element via padding.
 * This padding follows the site's vertical rhythm.
 */

.u-padding1 {
    padding-top: $g-rhythm !important;
}

.u-padding2 {
    padding-top: $g-rhythm*2 !important;
}

.u-padding3 {
    padding-top: $g-rhythm*3 !important;
}

.u-padding4 {
    padding-top: $g-rhythm*4 !important;
}

.u-padding5 {
    padding-top: $g-rhythm*5 !important;
}





/*===========================================================================*\
  RESPONSIVE HELPERS
\*===========================================================================*/

.u-img {
    max-width: 100%;
    height: auto;
}

.u-img--full {
    display: block;
    width: 100%;
}

