/*---------------------------------------------------------------------------*\
  CACAO LOGO THEME
\*---------------------------------------------------------------------------*/

.cacao-Logo {
    color: white;
    font-family: 'Pacifico', $g-font-stack;
    letter-spacing: 0;
    text-shadow: 2px 2px 1px rgba(#000, .75);
}



