/*---------------------------------------------------------------------------*\
  THEME VARIABLES
\*---------------------------------------------------------------------------*/

@import "../../../../cacao-header/styles/settings";



/**
 * Colorscheme
 */

$t-cacao-brown: #604830;

$t-light-brown: #c0a878;
$t-off-white: #f0f0cf;

$t-dark-plum: #483030;
$t-deep-red: #481818;



/**
 * Theme settings
 */

$t-cacao-header-border-width: 1px;





/*---------------------------------------------------------------------------*\
  SITE SETTING OVERRIDES
\*---------------------------------------------------------------------------*/

/**
 * Example
 */

// remove border width from header margin (maintain vertical rhythm)
$header-logo-margin: $cacao-header-logo-margin - $t-cacao-header-border-width;



