/*---------------------------------------------------------------------------*\
  THEME VARIABLES
\*---------------------------------------------------------------------------*/

@import "../../../../header/styles/settings";



/**
 * Colorscheme
 */
$t-dark-brown: #604830;
$t-light-brown: #c0a878;
$t-off-white: #f0f0cf;

$t-dark-plum: #483030;
$t-deep-red: #481818;



/**
 * Theme settings
 */
$t-header-border-width: 1px;





/*---------------------------------------------------------------------------*\
  SITE SETTING OVERRIDES
\*---------------------------------------------------------------------------*/

// remove border width from header margin (maintain vertical rhythm)
$header-logo-margin: $header-logo-margin - $t-header-border-width;



