/*===========================================================================*\
  SLIDER THEME
\*===========================================================================*/

.Slider-pager-item {
    box-shadow: 0 0 6px 2px rgba(#000, .8);
    border: 3px solid white;
    border-radius: 100%;
}

.Slider-pager-item.current {
    background: white;
}

.Slider-pager-item:hover {
    border-width: 2px;
    background: none;
}

