/*---------------------------------------------------------------------------*\
  SETTING OVERRIDES
\*---------------------------------------------------------------------------*/
/**
 * Global variables, layout settings, and module settings go here.
 */





/*---------------------------------------------------------------------------*\
  GLOBAL OVERRIDES
\*---------------------------------------------------------------------------*/

/**
 * Typography
 */
$g-font-stack: "Open Sans", sans-serif;
$g-font-size: 15px;
$g-font-weight: normal;
$g-line-height: 22px;
$g-letter-spacing: .15px;
$g-rhythm: $g-line-height/2;

$g-heading-font-stack: "Merriweather", serif;
$g-heading-font-weight: 900;
$g-heading-letter-spacing: -.5px;

$g-giga: 74px;
$g-mega: 62px;
$g-kilo: 48px;
$g-alpha: 36px; // h1
$g-beta: 28px; // h2
$g-gamma: 24px; // h3
$g-delta: 20px; // h4
$g-epsilon: 18px; // h5
$g-zeta: 15px; // h6
$g-milli: 13px;
$g-micro: 11px;



/**
 * Breakpoints
 */
$g-bp-xl: 1075px;
$g-bp-lg: 960px;
$g-bp-md: 780px;
$g-bp-sm: 600px;
$g-bp-xs: 400px;



/*---------------------------------------------------------------------------*\
  LOCAL VARIABLES
\*---------------------------------------------------------------------------*/
/**
 * Used throughout this file to keep things consistent.
 * You may define your own here but don't use them anywhere else.
 */

/**
 * Page variables (used below to configure layouts and modules)
 */
$page-width: 960px;
$page-gutter: $g-rhythm*2;





/*---------------------------------------------------------------------------*\
  COMPONENT SETTINGS
\*---------------------------------------------------------------------------*/

/**
 * Container
 */
$container-width: $page-width;
$container-gutter: $page-gutter;



/**
 * Content
 */
$content-gutter: $page-gutter;
$content-padding-top: 0;
$content-padding-bottom: $g-rhythm;
$content-heading-space: $g-rhythm;



/**
 * Grid
 */
$grid-column-gutter: $g-rhythm*3;
$grid-breakpoints: (
    xl: $g-bp-xl,
    lg: $g-bp-lg,
    md: $g-bp-md,
    sm: $g-bp-sm,
    xs: $g-bp-xs,
);



/**
 * Header
 */
$header-padding-top: $g-rhythm;
$header-logo-margin: $g-rhythm + $g-rhythm/2;



/**
 * Media layout
 */
$media-gutter: $g-rhythm*2;



/**
 * Sidebar
 */
$sidebar-gutter: $page-gutter;
$sidebar-padding-top: $g-rhythm*4;
$sidebar-padding-bottom: $g-rhythm*2;



/**
 * Breadcrumbs
 */
$crumbs-wrapper-padding: ($g-rhythm/2)-1px .5em;
$crumbs-crumb-padding: 0 .5em;
$crumbs-separator-padding: $g-rhythm/2 .5em;



/**
 * Slider
 */
$slider-nav-gutter: 12px;

$slider-pager-item-width: $g-rhythm;
$slider-pager-item-height: $g-rhythm;
$slider-pager-item-margin: 0 4px;

$slider-bp: $g-bp-lg;
$slider-nav-gutter-alt: 12px;

$slider-bp-hidden: $g-bp-md;



/**
 * Hero
 */
$hero-content-gutter: 64px;
$hero-title-size: $g-mega;
$hero-title-margin: 0;
$hero-subtitle-size: $g-beta;
$hero-subtitle-margin: 0;
$hero-button-size: $g-gamma;
$hero-button-padding: .2em .65em;

$hero-bp-md: $g-bp-lg;
$hero-title-size-md: $g-kilo;
$hero-title-margin-md: 0;
$hero-subtitle-size-md: $g-gamma;
$hero-subtitle-margin-md: 0;
$hero-button-size-md: $hero-subtitle-size-md;
$hero-button-padding-md: $hero-button-padding;

$hero-bp-sm: $g-bp-sm;
$hero-title-size-sm: 36px;
$hero-title-margin-sm: 32px;
$hero-subtitle-size-sm: 18px;
$hero-subtitle-margin-sm: 48px;
$hero-button-size-sm: $hero-subtitle-size-sm;
$hero-button-padding-sm: $hero-button-padding;

$hero-bp-hidden: $g-bp-md;



