/*---------------------------------------------------------------------------*\
  HEADER
\*---------------------------------------------------------------------------*/
/**
 * Header layout.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Base header padding
 */
$header-padding-top: 10px !default;

/**
 * Bottom margin of the header logo section
 */
$header-logo-margin: 15px !default;

/**
 * Side margins
 */
$header-gutter: 15px !default;





/*---------------------------------------------------------------------------*\
  COMPONENT
\*---------------------------------------------------------------------------*/

.header {
    position: relative;
    padding-top: $header-padding-top;
}

.header_logo {
    margin-left: $header-gutter;
    margin-right: $header-gutter;
    margin-bottom: $header-logo-margin;
}



.header_nav {
}

.header_nav.-inline,
.header_toggle {
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;
    right: $header-gutter;
    z-index: 10;
}

.header_toggle {
    display: none;
    margin-top: $header-padding-top/2;
}



