/*---------------------------------------------------------------------------*\
  HEADER
\*---------------------------------------------------------------------------*/
/**
 * Header layout.
 */





/*---------------------------------------------------------------------------*\
  VARIABLES
\*---------------------------------------------------------------------------*/

/**
 * Base header padding
 */
$header-padding-top: 10px !default;

/**
 * Bottom margin of the header logo section
 */
$header-logo-margin: 15px !default;





/*---------------------------------------------------------------------------*\
  LAYOUT
\*---------------------------------------------------------------------------*/

.header {
    position: relative;
    padding-top: $header-padding-top;
}

.header_logo {
    margin-bottom: $header-logo-margin;
}



.header_nav {
}

.header_nav.-inline {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
}



