/*---------------------------------------------------------------------------*\
  CONTAINER THEME
\*---------------------------------------------------------------------------*/

#Main > .Container {
    background: white;
    border: 1px solid #dfdfdf;
    border-top: 0;
}



