/*---------------------------------------------------------------------------*\
  CONTAINER THEME
\*---------------------------------------------------------------------------*/

#main > .container {
    background: white;
    border: 1px solid #dfdfdf;
    border-top: 0;
}



