/*---------------------------------------------------------------------------*\
  HERO THEME
\*---------------------------------------------------------------------------*/

.hero {
    color: white;
}



.hero_title,
.hero_subtitle,
.hero_button {
    text-shadow: 1px 1px 3px rgba(#000, .8);
}



.hero_button {
    @include box-shadow(0, 0, 3px, 1px, rgba(#000, .8));
    border: 2px solid white;
    border-radius: .35em;

    &:hover {
        background: white;
        color: $t-dark-brown;
        text-shadow: none;
    }
}



