/*---------------------------------------------------------------------------*\
  GENERIC HELPERS
\*---------------------------------------------------------------------------*/

/**
 * Floats
 */
.u-posLeft {
    float: left;
}

.u-posRight {
    float: right;
}



/**
 * Margins & padding
 */
.u-marginNone {
    margin: 0;
}

.u-paddingNone {
    padding: 0;
}





/*---------------------------------------------------------------------------*\
  RESPONSIVE HELPERS
\*---------------------------------------------------------------------------*/

.u-img {
    max-width: 100%;
    height: auto;
}

.u-img--full {
    display: block;
    width: 100%;
}



